body { background-color: #FFF; }
pre { 
	margin: 20px; padding: 30px; 
	border: groove 1px #BBB;
	background: rgb(225, 225, 200, .4); 
	color: #444;
	font-family: Consolas; font-size: 110%; 
}
div { 
	margin: 20px; padding: 20px; 
	height: 30px;
	border: groove 1px #BBB;
	background: rgb(225, 225, 200, .4); 
	color: #444;
}
div a { 
	float: right; 
	background-color: #DDD; border: groove 1px #CCC;
	margin: 0px 5px; padding: 5px 25px;
	text-decoration: none; font-family: Consolas; font-size: 90%; color: #444;
}
div a:hover {
	background-color: #888;
	border: 2px groove #999;
	color: #EEE;
	font-weight: bold;
}
div h1 {
	width: 40%;
	margin: 4px 0px;
	padding: 0px;
	float: left;
	font-family: Consolas; font-size: 130%; color: #888;
}

div #P02 { color: #33AA66; }
div #P03 { color: #AA6633; }
div #P04 { color: #6633AA; }
div #P05 { color: #AA3366; }
div #P06 { color: #66AA33; }

